/ADA1/ADA1/nbproject/private/
/ADA1/ADA1/build/
/ADA1/ADA1/dist/
/cafetera/nbproject/private/
/cafetera/build/
/ProyectoEscuela-master/nbproject/private/
/cafetera/dist/
/AdministracionMejorada/nbproject/private/
/AdministracionMejorada/build/
/ADAS/build/
/AdministracionMejorada/dist/
/Conversiones/nbproject/private/
/Conversiones/build/
/ConversionesMejorado/nbproject/private/
/ConversionesMejorado/build/
/Conversor2.0/build/
/Conversor2.0/dist/
/Conversor1.0/dist/
/Alexisbb/nbproject/private/
/Alexisbb/build/
/VentaCafe/nbproject/private/
/TragaMonedas/nbproject/private/
/Game/nbproject/private/
/Game/build/
/CafeteriaCampus/nbproject/private/
/PruebaCirculos/nbproject/private/
/PruebaCirculos/build/
/PruebaCirculos/dist/
/The-Divine-Meme/nbproject/private/
/ProyectoFinal/nbproject/private/